*{
    padding: 0;
    margin: 0;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}
.p1 {
    margin-top: 41%;
}

.selection {
    margin-top: 23%;
}

.arrow li {
    padding: 0!important;
}

ul#tabs-nav li {padding:20px;list-style: none;}

ul#tabs-nav li a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

ul#tabs-nav li a.atab::before {content: "";width: 40px;height: 40px;background: white;position: absolute;left: -3%;margin-top: 2px;border-radius: 50%;}

.carousel-caption .content-slide {
    width: 90%;
}
body{
    font-family: Montserrat-Light!important;
    letter-spacing: 0.4px;
}
.select-section input[type="radio"] {
    margin-right: 20px;
}

ul.nav.select-section.d-flex.flex-column li {
    padding: 20px;
}

ul.nav.select-section.d-flex.flex-column a {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.image-upload.d-flex.justify-content-start p {
    padding-top: 15px;
    font-size: 18px;
}

.input-left .fill-input {
    border: 1px solid white;
}

.about-right .form-group input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}

.form-group label {
    font-size: 20px;
    margin: 0;
}


input.form-check-input {
    transform: scale(2);
}

.section-two input.form-check-input {
    transform: scale(1.5);
    margin-top: 10px;
}

.list-option {
    padding-left: 24px;
}

.list-option span {
    font-size: 15px!important;
}

button.btn.btn-outline-light.mt-5.btn-send {
    padding: 7px 30px;
    border-radius: 21px;
}

label.form-check-label span {
    margin-left: 20px;
}

label.form-check-label {
    margin-bottom: 4%;
    color: white;
}

.form-check input.form-check-input {transform: scale(3.0);margin-top: 2.4%;}

.about-right .form-check {
    padding-bottom: 27px;
    font-size: 24px;
    color: white;
}

.page-section.pt-5 {
    font-size: 23px;
    font-weight: bold;
}

.about-left h3 {
    font-size: 40px;
    font-family:Montserrat-Bold;
}

#about-us .section-one,.section-two,.section-three,.section-four {
    position: absolute;
    top: 10%;
    width: 100%;
    left: 0%;
    color: white;
}
img, media {
    max-width: 100%;
}
body,html{
    height:100%;
}
.logo img {
    width: 34px;
    padding-top: 7px;
}

.lang a {
    color: white;
    font-weight: 600;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20;
}
h4{
    font-size: 14px;
}
h4{
    font-size: 12px;
}
.search button.btn.btn-secondary {
    position: absolute;
    left: 3px;
    transform: scale(0.8);
    border-radius: 50%;
}

.search form.form-inline.my-2.my-lg-0 {
    position: relative;
}

.search input.form-control.mr-sm-2 {
    border-radius: 20px;
    padding-left: 44px;
}

.left-menu .search {
    margin-top: 30px;
}
.content-slide h2{
    font-size: 59px!important;
    font-family: Montserrat-Bold;
}
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-ExtraLight.otf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-ExtraBold.otf');
}
.menu{
    height: 100px;
    width: 100%;
    line-height: 100px;
    z-index: 99999;
}
.logo{
    width: 200px;
    height: 100%;
}

.lang{
    color:white;
}
.menu-button i{
    font-size: 28px;
    color:white;
    cursor: pointer;
    position: relative;
}
header#header{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.carousel-indicators{
    bottom: 31px!important;
}
.carousel-caption.d-none.d-md-block{
    top: 29%;
    left: 9%;
}
.carousel-indicators li{
    width: 15px!important;
    height:15px!important;
    border-radius: 20px;
    margin-left: 14px!important;
}
.scroll-to{
    position: absolute;
    right: -62px;
    top: 44%;
    width: 200px;
    height: 30px;
    color: white;
    border-bottom: 2px solid white;
    transform: rotate(90deg);
}
.scroll-to i{
    cursor: pointer;
}
.menu-button{
    margin-top: 30px!important;
}

.menu-button span {
    width: 40px;
    height: 6px;
    background: white;
    margin-top: 9px;
}
.menu-button i{
    cursor: pointer;
}

.tab-menu{
    position: fixed;
    right: -175%;
    top: 0;
    height: 100%;
    z-index:9999;
    width: 541px;
    background-color: black;
    margin-left:300px;
    padding-top: 80px;
    transition: 0.2s ease-in-out 0.1s;
}
.move-menu{
    opacity: 1;
    right: 0;
}
.tab-menu i{
    cursor: pointer;
}
.tab-menu ul li{
    text-align: center;
    list-style: none;
    padding: 20px 10px 20px 32px;
    border-bottom: 1px solid gray;
}
.tab-menu p{
    margin-bottom: 0;
}
.tab-menu ul li a{
    transition: 0.4s;
    color: white;
}
.tab-menu ul li:hover a{
    padding-left:20px;
    font-weight: bold;
}
.rotate-right{
    transform: translateX(0%) translateY(39%) rotate(45deg);
}
.rotate-left{
    transform: translateX(0%) translateY(-203%) rotate(-45deg);
}

.menu-button .btn1,.btn2{
    transition: 0.2s;
}
/* Css our story */

.img-story {
    height: 250px;
    width: 100%;
    border: 2px solid white;
    overflow: hidden;
    margin-top: 24%;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a h3{
    padding-top:30px;
    padding-left:4px;
    opacity: 0;
    transition: 0.6s;
    font-family: Montserrat-Bold!important
}
.logo a:hover h3{
    opacity: 1;
}
.vertical-line{
    width: 1px;
    background-color: white; 
    height: 70px; 
    margin-left: 4px;
  }

a.on_top { opacity:0.6; display: none;}
a.on_top:hover{
background-color: #007bb6;
color: #fff;
border: 1px solid #007bb6;
opacity:1;
}
a.on_top i{ font-size: 20px;}
a.on_top {
border-radius: 6px;
background-color: #333333;
padding: 10px 20px;
white-space: nowrap; color: #fff;
position: fixed;
bottom: 75px;
right: 30px;
height: 44px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  #our-story{
      position: relative;
     
  }
  .our-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  #about-us{
      position: relative;
  }
  .about-bg{
      top: 0;
      left: 0;
      width: 100%;
  }
  .container.story-content{
      position: absolute;
      right: 4%;
      width: 50%;
      top: 14%;
      z-index: 2;
  }
  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: DodgerBlue;
    cursor: pointer;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }