*{
    padding: 0;
    margin: 0;
}

.logo img {
    width: 34px;
    padding-top: 7px;
}

.lang a {
    color: white;
    font-weight: 600;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20;
}
h4{
    font-size: 14px;
}
h4{
    font-size: 12px;
}
.search button.btn.btn-secondary {
    position: absolute;
    left: 3px;
    transform: scale(0.8);
    border-radius: 50%;
}

.search form.form-inline.my-2.my-lg-0 {
    position: relative;
}

.search input.form-control.mr-sm-2 {
    border-radius: 20px;
    padding-left: 44px;
}

.left-menu .search {
    margin-top: 30px;
}
.content-slide h2{
    font-size: 35px!important;
}
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-ExtraLight.otf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-ExtraBold.otf');
}
.menu{
    height: 100px;
    width: 100%;
    line-height: 100px;
    z-index: 99999;
}
.logo{
    width: 200px;
    height: 100%;
}

.lang{
    color:white;
}
.menu-button i{
    font-size: 28px;
    color:white;
    cursor: pointer;
    position: relative;
}
header#header{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.carousel-indicators{
    bottom: 31px!important;
}
.carousel-caption.d-none.d-md-block{
    bottom: 317px!important;
}
.carousel-indicators li{
    width: 15px!important;
    height:15px!important;
    border-radius: 20px;
    margin-left: 14px!important;
}
.scroll-to{
    position: absolute;
    right: -62px;
    bottom: 331px;
    width: 200px;
    height: 30px;
    color: white;
    border-bottom: 2px solid white;
    transform: rotate(90deg);
}
.scroll-to i{
    cursor: pointer;
}
.menu-button{
    margin-top: 30px!important;
}

.menu-button span {
    width: 40px;
    height: 6px;
    background: white;
    margin-top: 9px;
}
.menu-button i{
    cursor: pointer;
}

.tab-menu{
    position: fixed;
    opacity: 0;
    right: -300px;
    top: 0;
    height: 100%;
    z-index:9999;
    width: 541px;
    background-color: black;
    margin-left:300px;
    padding-top: 80px;
    transition: 0.2s ease-in-out 0.1s;
}
.move-menu{
    opacity: 1;
    right: 0;
}
.tab-menu i{
    cursor: pointer;
}
.tab-menu ul li{
    text-align: center;
    list-style: none;
    padding: 20px 10px 20px 32px;
    border-bottom: 1px solid gray;
}
.tab-menu p{
    margin-bottom: 0;
}
.tab-menu ul li a{
    transition: 0.4s;
    color: white;
}
.tab-menu ul li:hover a{
    padding-left:20px;
    font-weight: bold;
}
.rotate-right{
    transform: translateX(0%) translateY(39%) rotate(45deg);
}
.rotate-left{
    transform: translateX(0%) translateY(-203%) rotate(-45deg);
}

.menu-button .btn1,.btn2{
    transition: 0.2s;
}
/* Css our story */
#our-story{
    background-image: url('../img/p2.png');
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.img-story {
    height: 250px;
    width: 100%;
    border: 2px solid white;
    overflow: hidden;
    margin-top: 214px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a h3{
    padding-top:30px;
    padding-left:4px;
    opacity: 0;
    transition: 0.6s;
}
.logo a:hover h3{
    opacity: 1;
}
.vertical-line{
    width: 1px;
    background-color: white; 
    height: 70px; 
    margin-left: 4px;
  }

a.on_top { opacity:0.6; display: none;}
a.on_top:hover{
background-color: #007bb6;
color: #fff;
border: 1px solid #007bb6;
opacity:1;
}
a.on_top i{ font-size: 20px;}
a.on_top {
border-radius: 6px;
background-color: #333333;
padding: 10px 20px;
white-space: nowrap; color: #fff;
position: fixed;
bottom: 75px;
right: 30px;
height: 44px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }